*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 20px;
    margin: 0 5px;
    width: 160px;
    height: 50px;
    text-align: center;
    display: inline-block;
    align-items: center;
  }
  
  h1 span {
    color: #ad3030;
  }

  #busqueda {
    width: 240px;
    height: 22px;
    margin-right: 10px;
  }

@import './variables/colors';
@import './variables/extend';

@import './sections/mainIndex';
@import './sections/mainTramitesYServicios';
@import './sections/mainEducacion';
@import './sections/header';
@import './sections/footer';
@import './sections/mainMiCiudad';
@import './sections/mainOtrosServicios';

@media (min-width: 426px ){
  .header__menu-mobile img {
    display: none;
  }
  }
  @media (max-width: 426px){
  .header{
    justify-content: center;
  }

  .main__rocas {
      display: none;
  }
  .main__titulo {
      grid-template-columns: repeat(1, 1fr);
  }
  .main__cards {
      grid-template-columns: repeat(1, 1fr);
  }
  .main__cards img{
    object-position:-999px ;
  }
  .main__noticias1 {
      grid-template-areas:none;
  }
  .main__turismo {
      grid-template-columns: repeat(1, 1fr);
  }
  .main__imgTu img {
      width: 100%;
  }
  .main__imgTu {
      width: 100%;
  }
  .header__menu {
    display: none;
    width: 100%;
    height: 260px;
    background-color: lightslategrey;
    transition: left 0.3s;
      ul{
        padding-left: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        position: calc(100%-66px);
      }

      li{
        margin-top: 15px;
      }
  }

  .header__menu-visible{
    display: block;
  }

  .main__imgTu2{
      display: none ;
  }
  .footer__redes {
      margin: 20px 10px;
  }
  .footer {
      padding: 20px 10px;
  }
  .footer__final {
      flex-direction: column;
      align-items: center;
  }
  
  /*----mobile education-----*/
  
  .mainE__subTitulos {
      justify-content: center;
  }
  .mainE img {
      height: 280px;
  }
  .mainE__grado {
      text-align: justify;
      margin: 20px;
  }
  /*----mobile tramites-----*/
  .mainT__subTitulos {
      justify-content: center;
  }
  .mainT img {
      height: 100%;
  }
  .mainT__grado {
      text-align: justify;
      margin: 20px;
  }
  button {
      background: #04724d;
      border: 2px solid #04724d;
      color: #fff;
      border-radius: 8px;
      padding: 6px 30px;
  }
  .mainT__cardsTraPa {
      margin: 10px 10px;
      width: 100%;
      max-height: 400px;
      padding: 20px;
      justify-content: center;
  }
  .mainT__cardsTraPa button{
    margin-left:100%-65%;
  }
  .mainT__griCards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    //   height: 1500px;
  }
  .mainT__containerT{
    height: 1550px;
    }
  .mainT__containerT2{
    height: 1450px;
    }
  .mainT__containerT3{
    height: 550px;
    }
  .mainT__containerT4{
    height: 500px;
    }
  p.fw-semibold {
      padding: 20px;
  }
  .mainT__educacion {
      margin-top: 40px;
  }
  .mainT__btnTra {
      text-decoration: none;
      margin-top: 200px;
  }
  .mainT__gridCardsServ {
      height: 350px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
  .mainT__gridCardsServ {
      margin-bottom: 100px;
  }
  /*     pagina de mi ciudad */

p.botones__seguridad span {
    display: block;
}
button {
    width: 200px;
    margin: 5px 0px;
}
article.mainC__seguridad {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}
.mainC__pnpDescripcion span {
    margin-top: 20px;
    text-align: justify;
}
p.botones__seguridad {
    text-align: center;
}
article.mainC__obrasRecientes {
    padding: 0px 15px;
}
section.mainC__container {
    flex-direction: column;
    padding: 0 20px;
}
.mainC__contenido {
    padding: 26px;
}
.mainC__card {
    width: 100%;
}
.card {
    margin-bottom: 20px;
}

/*     pagina de otros servicios*/

section.mainO__containerImpu {
    height: auto;
}
.mainO__impuestos {
    margin: 0px;
    padding: 16px 15px;
}
.mainO__subTitulo {
    padding: 20px;
}
section.mainO__reclamo h3 {
    padding: 20px;
}
.mainO__textArea {
    padding: 20px 20px;
  }
.mainO__textArea textarea {
    width: 100%;
    height: 220px;
    margin: 0px;
}
.mainO__textArea {
    padding: 0px;
}
.mainO__cajaReclamo {
    margin: 20px 10px;
    padding: 20px;
}
  }
  
