.mainE{

    img{
        height: 650px;
        width: 100%;
    }

    &__educacion {
        @extend %estiloTitulo;
    }

    &__subTitulos{
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: left;
        
    }

    &__grado{
        margin-top: 15px;
    }

    &__saberMas{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        button{
            background: #04724d;
            border: 2px solid #04724d;
            color: #fff;
            border-radius: 8px;
            padding: 6px 30px;
        }
        
    }
}